body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  #boxPresupuesto{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: #ccfbcc;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    width: 40%;
  }

  #montoPresupuesto{
    background-color: #ccfbcc;
  }

  #botonPresupuesto{
    color: #3e8e41;
    background-color: #ccfbcc;
    border: 2px solid #4CAF50;
    border-radius: 5px;
  }

  #boxGasto{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: #ffd6d6;
    border: 2px solid red;
    border-radius: 5px;
    width: 40%;
  }

  #tipoGasto{
    background-color: #ffd6d6;
  }
  #montoGasto{
    background-color: #ffd6d6;
  }

  #botonGasto{
    color: white;
    background-color: red;
    border: 2px solid pink;
    border-radius: 5px;
  }
  
  h1 {
    margin-left: 20px;
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #presupuesto, #gastos, #saldo {
    font-size: 24px;
    font-weight: bold;
  }
  
  #valorGasto {
    font-weight: bold;
    margin-left: 10px;
  }
  
  #listaGastos {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  #listaGastos h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .gasto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .gasto-item span {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .gasto-item button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
  }
  

  #tablaGastos{
    margin-top: 20px;
    padding: 10px;
    justify-items: center;
    width: 85%;
    border-radius: 5px;
  }